sb-layout-auth
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Entrar no EasyAppointments
                    .card-body
                        form
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') E-mail
                                input#inputEmailAddress.form-control.py-4(type='email', placeholder='Digite seu endereço de e-mail')
                            .form-group
                                label.small.mb-1(for='inputPassword') Senha
                                input#inputPassword.form-control.py-4(type='password', placeholder='Digite sua senha')
                            .form-group
                                .custom-control.custom-checkbox
                                    input#rememberPasswordCheck.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='rememberPasswordCheck') Lembrar senha
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(routerLink='/auth/forgot-password') Esqueceu a senha?
                                a.btn.btn-primary(routerLink='/dashboard') Entrar
                    .card-footer.text-center
                        .small
                            a(routerLink='/auth/register') Não tem uma conta? Cadastre-se
