<sb-layout-dashboard [static]="true"
    ><sb-dashboard-head [hideBreadcrumbs]="false" title="Painel Geral Estático"></sb-dashboard-head><sb-dashboard-cards></sb-dashboard-cards><sb-dashboard-charts></sb-dashboard-charts><sb-dashboard-tables></sb-dashboard-tables
    ><sb-card
        ><div class="card-header"><fa-icon [icon]='["fas", "chart-pie"]' class="mr-1"></fa-icon>Exemplo de gráfico de pizza</div>
        <div class="card-body"><sb-charts-pie></sb-charts-pie></div>
        <div class="card-footer small text-muted">Atualizado ontem às 23h59</div></sb-card
    ></sb-layout-dashboard
>
