sb-layout-dashboard([static]='true')
    sb-dashboard-head(title='Painel Geral Estático', [hideBreadcrumbs]='false')
    sb-dashboard-cards
    sb-dashboard-charts
    sb-dashboard-tables
    sb-card
        .card-header
            fa-icon.mr-1([icon]='["fas", "chart-pie"]')
            | Exemplo de gráfico de pizza
        .card-body
            sb-charts-pie
        .card-footer.small.text-muted Atualizado ontem às 23h59
