.row
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "chart-area"]')
                | Examplo de grafico de área
            .card-body
                sb-charts-area


    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "chart-bar"]')
                | Exemplo de gráfico de barras
            .card-body
                sb-charts-bar
